{% extends 'base.html' %}
{% block body %}
    <div class="row justify-content-center">
      {%for post in posts%}
      <div class="card" style="width: 30rem;">
        {% if post.image.url %}
          <img src="{{post.image.url}}" class="card-img-top" alt="...">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">{{post.content}}</p>
          <a class="btn btn-danger" href="{% url 'posts:delete' post.id%}">삭제</a>
          <a class="btn btn-danger" href="{% url 'posts:update' post.id%}">수정</a>
        </div>
      </div>
      {%endfor%}
    </div>
    
  
    
{% endblock %}